@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to simran's website</h1>
    <p>Learn more about <a href="https://www.brainwareuniversity.ac.in">Brainware University</a>. Please click here.</p>
</div>
